<div id="myModal1" class="  centered-modal" role="dialog">
  <div class="modal-dialog login_dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <button type="button" class="close" routerLink="/home">
        <i class="fa_icon form_close"></i>
      </button>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
      <a type="button" class="close" routerLink="/song">
        <i class="fa_icon form_close"></i>
      </a>
      <div class="modal-body">
        <div class="ms_register_img">
          <img src="assets/images/register_img.png" alt="" class="img-fluid" />
        </div>
        <div class="ms_register_form">
          <h2>login / Sign in</h2>
          <div class="form-group">
            <input type="text" placeholder="Enter Your username" class="form-control" formControlName="username">
            <span class="form_icon">
							<i class="fa_icon form-envelope" aria-hidden="true"></i>
						</span>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Enter Password" class="form-control" formControlName="password">
            <span class="form_icon">
						<i class="fa_icon form-lock" aria-hidden="true"></i>
						</span>
          </div>
          <div class="remember_checkbox">
            <label>Keep me signed in
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <input type="submit" class="ms_btn" value="login now">
          <div class="popup_forgot">
            <a href="#">Forgot Password ?</a>
          </div>
          <p>Don't Have An Account? <a routerLink="/auth/register" data-toggle="modal" class="ms_modal1 hideCurrentModel">register here</a></p>
        </div>
      </div>
        </form>
    </div>
  </div>
</div>
