<app-app-layout>
<table>
  <tr>
    <td><p style="color: #14182a">oooooooooooooooooooooooooooooooooooooooooo</p></td>
    <td><div style="display: grid; place-items: center;">
      <div class="blog_comments">
        <!--        <h1>comments</h1>-->
        <ol>
          <li>
            <div class="ms_comment_section">
              <div>
                <!--              <div class="comment_info">-->
                <div class="comment_head">
                  <h1 style="display: grid; place-items: center;">Oops !!!</h1><br>
                </div>
                <p style="display: grid; place-items: center;">You don't have permission</p><br>
                <div class="pro-form-btn text-center marger_top15">
                  <div class="ms_upload_btn">
                    <a routerLink="/playlist/list" class="ms_btn" style="width: 120px">Back</a>
                    <!--              <a href="#" class="ms_btn">Cancel</a>-->
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div></td>
    <td><p style="color: #14182a">oooooooooooooooooooooooooooooooooooooooooo</p></td>
  </tr>
</table>
</app-app-layout>



