<!----Live Radio Section Start---->
<div class="ms_top_artist">
  <div class="container-fluid">
    <div class="row">
<!--      heading-->
      <div class="col-lg-12">
        <div class="ms_heading">
          <h1>Your Playlists</h1>
        </div>
      </div>
<!--      <ng-container *ngFor="let playlist of allPlaylistsByUser">-->
      <div class="col-lg-2 col-md-6" *ngFor="let playlist of allPlaylistsByUser">
        <div class="ms_rcnt_box marger_bottom25">
          <div class="ms_rcnt_box_img">
            <img *ngIf="playlist.songs.length == 0" src="/assets/images/radio/playlist_default.jpg" alt="" class="img-fluid">
            <img *ngIf="playlist.songs.length != 0" src="http://localhost:8080/image/{{playlist.songs[0].image}}" alt="">
            <div class="ms_main_overlay">
              <div class="ms_box_overlay"></div>
              <div class="ms_more_icon">
                <img src="/assets/images/svg/more.svg" alt="">
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
              </ul>
              <div class="ms_play_icon">
                <img src="/assets/images/svg/play.svg" alt="">
              </div>
            </div>
          </div>
          <div class="ms_rcnt_box_text">
            <h3><a href="/playlist/detail/{{playlist.id}}">{{playlist.name}}</a></h3>
            <p>{{playlist.songs.length}} songs</p>
          </div>
        </div>
      </div>
<!--      </ng-container>-->
      <div class="col-lg-2">
        <div class="ms_rcnt_box marger_bottom25">
          <div class="create_playlist">

            <i class="ms_icon icon_playlist"><a routerLink="/playlist/create"></a></i>
          </div>
          <div class="ms_rcnt_box_text">
            <h3><a routerLink="/playlist/create">Create New Playlist</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!----Featured Playlist Section Start---->
<div class="ms_radio_wrapper">
  <div class="ms_heading">
    <h1>Featured Playlist</h1>
    <span class="veiw_all"><a href="#">view more</a></span>
  </div>
  <div class="ms_radio_slider swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-1881.83px, 0px, 0px); transition-duration: 0ms;">
<!--      #1 top trending-->
      <div class="swiper-slide swiper-slide-prev">
        <div class="ms_rcnt_box">
          <div class="ms_rcnt_box_img">
            <img src="/assets/images/radio/playlist_default.jpg" alt="">
            <div class="ms_main_overlay">
              <div class="ms_box_overlay"></div>
              <div class="ms_more_icon">
                <img src="/assets/images/svg/more.svg" alt="">
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
              </ul>
              <div class="ms_play_icon">
                <img src="/assets/images/svg/play.svg" alt="">
              </div>
            </div>
          </div>
          <div class="ms_rcnt_box_text">
            <h3><a href="#">Top Trendings Acoustic</a></h3>
            <p>20 songs</p>
          </div>
        </div>
      </div>
<!--      loop for each playlist-->
      <div class="swiper-slide" *ngFor="let playlist of allPlaylists">
        <div class="ms_rcnt_box">
          <div class="ms_rcnt_box_img">
            <img *ngIf="playlist.songs.length == 0" src="/assets/images/radio/playlist_default.jpg" alt="" class="img-fluid">
            <img *ngIf="playlist.songs.length != 0" src="http://localhost:8080/image/{{playlist.songs[0].image}}" alt="">
            <div class="ms_main_overlay">
              <div class="ms_box_overlay"></div>
              <div class="ms_more_icon">
                <img src="/assets/images/svg/more.svg" alt="">
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
              </ul>
              <div class="ms_play_icon">
                <img src="/assets/images/svg/play.svg" alt="">
              </div>
            </div>
          </div>
          <div class="ms_rcnt_box_text">
            <h3><a routerLink="/playlist/detail/{{playlist.id}}">{{playlist.name}}</a></h3>
            <p>{{playlist.songs.length}} songs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next4 slider_nav_next"></div>
  <div class="swiper-button-prev4 slider_nav_prev"></div>
</div>
<!----Main div close---->
