<div class="ms_upload_wrapper marger_top60">
  <form>
  <div class="ms_upload_box">
    <h2>Upload & Share Your Music With The World</h2>
    <img src="assets/images/svg/upload.svg" alt="">
    <div class="ms_upload_btn">
      <a href="#" class="ms_btn">save files</a>
    </div>
    <span> or </span>
    <p>Drag And Drop Music Files</p>
  </div>
  <div class=" marger_top60">
    <div class="ms_upload_box">
      <h2>Upload avatar of song</h2>
      <div class="file-upload">

        <div class="image-upload-wrap">

          <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
          <div class="drag-text">
            <img src="assets/images/svg/upload.svg" alt="">
            <h2>Drag And Drop image Files</h2>
          </div>

        </div>
        <div class="file-upload-content">
          <img class="file-upload-image" src="#" alt="your image" />
          <div class="image-title-wrap">
            <button  type="button" onclick="removeUpload()" class="remove-image">Remove </button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class=" marger_top60">
    <div class="ms_upload_box">
      <div class="ms_heading">
        <h1>Song Information</h1>
      </div>
      <div class="ms_pro_form">
        <div class="form-group">
          <label>Song Name *</label>
          <input type="text" placeholder="Dream Your Moments" class="form-control">
        </div>
        <div class="form-group">
          <label>Author</label>
          <input type="text" placeholder="author" class="form-control">
        </div>
        <div class="form-group">
          <label>Artist’s Name *</label>
          <select class="form-control">
            <option>Cloud Nine</option>
            <option value="1">Cyber Sonnet </option>
            <option value="2">Cloud Nine</option>
            <option value="3">Cyber Sonnet</option>
            <option value="4">Cloud Nine</option>
          </select>
        </div>
        <div class="form-group">
          <label>Song’s category *</label>
          <select class="form-control">
            <option>Cloud Nine</option>
            <option value="1">1 </option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="form-group">
          <label>Tag</label>
          <input type="text" placeholder="Ava Cornish, Brian Hill" class="form-control">
        </div>
        <div class="form-group">
          <label>Select Album</label>
          <select class="form-control">
            <option>Cloud Nine</option>
            <option value="1">Cyber Sonnet </option>
            <option value="2">Cloud Nine</option>
            <option value="3">Cyber Sonnet</option>
            <option value="4">Cloud Nine</option>
          </select>
        </div>
        <div class="form-group">
          <label>Select playlist</label>
          <select class="form-control">
            <option>Cloud Nine</option>
            <option value="1">Cyber Sonnet </option>
            <option value="2">Cloud Nine</option>
            <option value="3">Cyber Sonnet</option>
            <option value="4">Cloud Nine</option>
          </select>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea  class="form-control"></textarea>
        </div>

        <div class="pro-form-btn text-center marger_top15">
          <div class="ms_upload_btn">
            <a href="#" class="ms_btn">Upload Now</a>
            <a href="#" class="ms_btn">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
