<!----Album Single Section Start---->
<div class="ms_album_single_wrapper">
  <div class="album_single_data">
    <div class="album_single_img">
      <img  src="/assets/images/radio/playlist_default.jpg" alt="" class="img-fluid">
    </div>
    <div class="album_single_text">
      <h2>{{artist.name}}</h2>
      <div class="album_feature">
        <a href="#" class="album_date">{{artist.band}}</a>
        <a href="#" class="album_date">Birthday: {{artist.dateOfBirth}}</a>
        <a href="#" class="album_date">Story: {{artist.story}}</a>
        <!--        <a href="#" class="album_date">{{playlist.views}} Views</a>-->
      </div>
      <div class="album_btn">
        <a  class="ms_btn play_btn">
          <span id="play"  (click)="pausePlaylistDetail()" class="play_all">
            <img src="/assets/images/svg/play_all.svg" alt="">
            Play </span>
          <span id="pause" (click)="playPlaylistDetail()" class="pause_all">
            <img src="/assets/images/svg/pause_all.svg" alt="">
            Pause</span>
        </a>
      </div>
    </div>
    <div class="album_more_optn ms_more_icon">
      <span><img src="/assets/images/svg/more.svg" alt=""></span>
    </div>

  </div>
  <!----Song List---->
  <!--  <div class="ms_content_wrapper padder_top80">-->
  <div class="ms_free_download">
    <!--  <div class="album_inner_list">-->
    <div class="album_list_wrapper">
      <ul class="album_list_name">
        <li style="width: 15%">#</li>
        <li style="width: 15%" class="text-center">Song Title</li>
        <li class="text-center">Artist</li>
        <li class="text-center">Album</li>
        <li style="width: 50%"class="text-center">Description</li>
      </ul>
      <!--      loop songs-->
      <ul *ngFor="let song of allSong; index as i">
        <li><a href="#"><span class="play_no">0{{i+1}}</span><span class="play_hover"></span></a></li>
        <li class="text-center"><a href="#">{{song.name}}</a></li>
        <li class="text-center"><a href="#">{{song.artist.name}}</a></li>
        <li class="text-center"><a href="#">{{song.album.name}}</a></li>
        <li class="text-center"><a href="#">{{song.description}}</a></li>

        <!--        <li class="text-center ms_more_icon"><a href="javascript:;"><span class="ms_icon1 ms_active_icon"></span></a>-->
        <!--          <ul class="more_option">-->
        <!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>-->
        <!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>-->
        <!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>-->
        <!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>-->
        <!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>-->
        <!--          </ul>-->
        <!--        </li>-->
      </ul>
      <!--      end loop songs-->
    </div>
    <!--  </div>-->
  </div>
  <!--  </div>-->
</div>
<!---Main Content Start--->
