<!----Main Wrapper Start---->
<div class="ms_main_wrapper">
  <!---Side Menu Start--->

    <!---Featured Artists Music--->
    <div class="ms_featured_slider">
      <div class="ms_heading">
        <h1>Album</h1>
      </div>
      <div class="album_inner_list">
        <div class="album_list_wrapper">
          <ul class="album_list_name">
            <li>#</li>
            <li>Album</li>
            <li class="text-center">More</li>
          </ul>
          <ul *ngFor="let album of albums; index as i">
            <li><a>{{i + 1}}</a></li>
            <li><a>{{album.name}}</a></li>
            <li class="text-center"><a>dgdfddddddd</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

