<div class="padder_top80">
  <!----Edit Profile Wrapper Start---->
  <div class="ms_profile_wrapper">
    <h1>Edit Your Profile</h1>
    <div class="ms_profile_box">
      <div>
        <form [formGroup]="updateForm" (ngSubmit)="editUser()">
          <div class="ms_pro_img">
            <div class="form-group">
            <img src="http://localhost:8080/image/{{currentUser.image}}" alt="" weight="150px" height="auto">
            <input type="file" class="form-control" id="image" formControlName="image" (change)="file($event)">
          </div>
          </div>
          <br>
          <div class="ms_pro_form">
            <div class="form-group">
              <label for="username">Change your username</label>
              <input type="text" id="username" formControlName="username" placeholder="username" class="form-control">
            </div>
            <br>
            <div class="form-group">
              <label for="phoneNumber">Re-type your phone number</label>
              <input type="number" id="phoneNumber" formControlName="phoneNumber" placeholder="phone number" class="form-control">
            </div>
            <br>
            <div class="form-group">
              <label for="address">Changed your locate, sign here!!!</label>
              <input type="text" placeholder="address" id="address" formControlName="address" class="form-control">
            </div>
            <br>
            <div class="pro-form-btn text-center marger_top15">
              <button class="ms_btn" type="submit">save</button>
              <button class="ms_btn" type="cancel">cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!----Main div close---->
</div>
