<!---Banner--->
<!--<div class="ms-banner">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12 col-md-12">-->
<!--        <div class="ms_banner_img">-->
<!--          <img src="http://localhost:8080/image/{{mostViewsPlaylist.songs[0].image}}" alt="" class="img-fluid">-->
<!--        </div>-->
<!--        <div class="ms_banner_text">-->
<!--          <h1>This Month’s Record Breaking Playlist</h1>-->
<!--          <h1 class="ms_color">{{mostViewsPlaylist.name}}</h1>-->
<!--          <p>Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley, One More Of A Stranger, Endless<br> Things, The Heartbeat Stops, Walking Promises, Desired Games and many more...</p>-->
<!--          <div class="ms_banner_btn">-->
<!--            <a href="#" class="ms_btn">Listen Now</a>-->
<!--            <a href="#" class="ms_btn">Add To Queue</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!---Recently Played Music--->
<!----Featured Playlist Section Start---->
<div class="ms_radio_wrapper">
  <div class="ms_heading">
    <h1>Featured Playlist</h1>
    <span class="veiw_all"><a href="#">view more</a></span>
  </div>
  <div class="ms_radio_slider swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-1881.83px, 0px, 0px); transition-duration: 0ms;">
      <!--      #1 top trending-->
      <div class="swiper-slide swiper-slide-prev">
        <div class="ms_rcnt_box">
          <div class="ms_rcnt_box_img">
            <img src="/assets/images/radio/img1.jpg" alt="">
            <div class="ms_main_overlay">
              <div class="ms_box_overlay"></div>
              <div class="ms_more_icon">
                <img src="/assets/images/svg/more.svg" alt="">
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
              </ul>
              <div class="ms_play_icon">
                <img src="/assets/images/svg/play.svg" alt="">
              </div>
            </div>
          </div>
          <div class="ms_rcnt_box_text">
            <h3><a href="#">Top Trendings Acoustic</a></h3>
            <p>20 songs</p>
          </div>
        </div>
      </div>
      <!--      loop for each playlist-->
      <div class="swiper-slide" *ngFor="let playlist of allPlaylists">
        <div class="ms_rcnt_box">
          <div class="ms_rcnt_box_img">
            <img *ngIf="playlist.songs.length == 0" src="/assets/images/radio/img1.jpg" alt="" class="img-fluid">
            <img *ngIf="playlist.songs.length != 0" src="http://localhost:8080/image/{{playlist.songs[0].image}}" alt="">
            <div class="ms_main_overlay">
              <div class="ms_box_overlay"></div>
              <div class="ms_more_icon">
                <img src="/assets/images/svg/more.svg" alt="">
              </div>
              <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
              </ul>
              <div class="ms_play_icon">
                <img src="/assets/images/svg/play.svg" alt="">
              </div>
            </div>
          </div>
          <div class="ms_rcnt_box_text">
            <h3><a href="#">{{playlist.name}}</a></h3>
            <p>{{playlist.songs.length}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next4 slider_nav_next"></div>
  <div class="swiper-button-prev4 slider_nav_prev"></div>
</div>
<!---Weekly Top 15--->
<div class="ms_weekly_wrapper">
  <div class="ms_weekly_inner">
    <div class="row">
      <div class="col-lg-12">
        <div class="ms_heading">
          <h1>Weekly top 15</h1>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 padding_right40">
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										01
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[0].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[0].name}}</a></h3>
                <p>{{allSongs[0].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										02
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[1].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[1].name}}</a></h3>
                <p>{{allSongs[1].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										03
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[2].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[2].name}}</a></h3>
                <p>{{allSongs[2].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										04
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[3].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[3].name}}</a></h3>
                <p>{{allSongs[3].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>

        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										05
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[4].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[4].name}}</a></h3>
                <p>{{allSongs[4].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
      </div>
      <div class="col-lg-4 col-md-12 padding_right40">
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										06
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[5].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[5].name}}</a></h3>
                <p>{{allSongs[5].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										07
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[6].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[6].name}}</a></h3>
                <p>{{allSongs[6].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										08
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[7].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[7].name}}</a></h3>
                <p>{{allSongs[7].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										09
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[8].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[8].name}}</a></h3>
                <p>{{allSongs[8].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>

        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										10
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[9].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[9].name}}</a></h3>
                <p>{{allSongs[9].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
      </div>
      <div class="col-lg-4 col-md-12 padding_right40">
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										11
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[10].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[10].name}}</a></h3>
                <p>{{allSongs[10].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										12
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[11].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[11].name}}</a></h3>
                <p>{{allSongs[11].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										13
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[12].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[12].name}}</a></h3>
                <p>{{allSongs[12].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										14
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[13].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[13].name}}</a></h3>
                <p>{{allSongs[13].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>

        <div class="ms_weekly_box">
          <div class="weekly_left">
                                    <span class="w_top_no">
										15
									</span>
            <div class="w_top_song">
              <div class="w_tp_song_img">
                <img src="http://localhost:8080/image/{{allSongs[14].image}}" alt="" class="img-fluid">
                <div class="ms_song_overlay">
                </div>
                <div class="ms_play_icon">
                  <img src="/assets/images/svg/play.svg" alt="">
                </div>
              </div>
              <div class="w_tp_song_name">
                <h3><a href="#">{{allSongs[14].name}}</a></h3>
                <p>{{allSongs[14].artist.name}}</p>
              </div>
            </div>
          </div>
          <div class="weekly_right">
            <span class="w_song_time">5:10</span>
            <span class="ms_more_icon" data-other="1">
										<img src="/assets/images/svg/more.svg" alt="">
									</span>
          </div>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
          </ul>
        </div>
        <div class="ms_divider"></div>
      </div>
<!--      <div class="col-lg-4 col-md-12">-->
<!--        <div class="ms_weekly_box">-->
<!--          <div class="weekly_left">-->
<!--                                    <span class="w_top_no">-->
<!--										11-->
<!--									</span>-->
<!--            <div class="w_top_song">-->
<!--              <div class="w_tp_song_img">-->
<!--                <img src="images/weekly/song2.jpg" alt="" class="img-fluid">-->
<!--                <div class="ms_song_overlay">-->
<!--                </div>-->
<!--                <div class="ms_play_icon">-->
<!--                  <img src="images/svg/play.svg" alt="">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="w_tp_song_name">-->
<!--                <h3><a href="#">Dark Alley Acoustic</a></h3>-->
<!--                <p>Ava Cornish</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="weekly_right">-->
<!--            <span class="w_song_time">5:10</span>-->
<!--            <span class="ms_more_icon" data-other="1">-->
<!--										<img src="images/svg/more.svg" alt="">-->
<!--									</span>-->
<!--          </div>-->
<!--          <ul class="more_option">-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="ms_divider"></div>-->
<!--        <div class="ms_weekly_box">-->
<!--          <div class="weekly_left">-->
<!--                                    <span class="w_top_no">-->
<!--										12-->
<!--									</span>-->
<!--            <div class="w_top_song">-->
<!--              <div class="w_tp_song_img">-->
<!--                <img src="images/weekly/song11.jpg" alt="" class="img-fluid">-->
<!--                <div class="ms_song_overlay">-->
<!--                </div>-->
<!--                <div class="ms_play_icon">-->
<!--                  <img src="images/svg/play.svg" alt="">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="w_tp_song_name">-->
<!--                <h3><a href="#">The Heartbeat Stops</a></h3>-->
<!--                <p>Ava Cornish</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="weekly_right">-->
<!--            <span class="w_song_time">5:10</span>-->
<!--            <span class="ms_more_icon" data-other="1">-->
<!--										<img src="images/svg/more.svg" alt="">-->
<!--									</span>-->
<!--          </div>-->
<!--          <ul class="more_option">-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="ms_divider"></div>-->
<!--        <div class="ms_weekly_box">-->
<!--          <div class="weekly_left">-->
<!--                                    <span class="w_top_no">-->
<!--										13-->
<!--									</span>-->
<!--            <div class="w_top_song">-->
<!--              <div class="w_tp_song_img">-->
<!--                <img src="images/weekly/song12.jpg" alt="" class="img-fluid">-->
<!--                <div class="ms_song_overlay">-->
<!--                </div>-->
<!--                <div class="ms_play_icon">-->
<!--                  <img src="images/svg/play.svg" alt="">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="w_tp_song_name">-->
<!--                <h3><a href="#">One More Stranger</a></h3>-->
<!--                <p>Ava Cornish</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="weekly_right">-->
<!--            <span class="w_song_time">5:10</span>-->
<!--            <span class="ms_more_icon" data-other="1">-->
<!--										<img src="images/svg/more.svg" alt="">-->
<!--									</span>-->
<!--          </div>-->
<!--          <ul class="more_option">-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="ms_divider"></div>-->
<!--        <div class="ms_weekly_box">-->
<!--          <div class="weekly_left">-->
<!--                                    <span class="w_top_no">-->
<!--										14-->
<!--									</span>-->
<!--            <div class="w_top_song">-->
<!--              <div class="w_tp_song_img">-->
<!--                <img src="images/weekly/song13.jpg" alt="" class="img-fluid">-->
<!--                <div class="ms_song_overlay">-->
<!--                </div>-->
<!--                <div class="ms_play_icon">-->
<!--                  <img src="images/svg/play.svg" alt="">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="w_tp_song_name">-->
<!--                <h3><a href="#">Walking Promises</a></h3>-->
<!--                <p>Ava Cornish</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="weekly_right">-->
<!--            <span class="w_song_time">5:10</span>-->
<!--            <span class="ms_more_icon" data-other="1">-->
<!--										<img src="images/svg/more.svg" alt="">-->
<!--									</span>-->
<!--          </div>-->
<!--          <ul class="more_option">-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="ms_divider"></div>-->
<!--        <div class="ms_weekly_box">-->
<!--          <div class="weekly_left">-->
<!--                                    <span class="w_top_no">-->
<!--										15-->
<!--									</span>-->
<!--            <div class="w_top_song">-->
<!--              <div class="w_tp_song_img">-->
<!--                <img src="images/weekly/song14.jpg" alt="" class="img-fluid">-->
<!--                <div class="ms_song_overlay">-->
<!--                </div>-->
<!--                <div class="ms_play_icon">-->
<!--                  <img src="images/svg/play.svg" alt="">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="w_tp_song_name">-->
<!--                <h3><a href="#">Endless Things</a></h3>-->
<!--                <p>Ava Cornish</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="weekly_right">-->
<!--            <span class="w_song_time">5:10</span>-->
<!--            <span class="ms_more_icon" data-other="1">-->
<!--										<img src="images/svg/more.svg" alt="">-->
<!--									</span>-->
<!--          </div>-->
<!--          <ul class="more_option">-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>-->
<!--            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
