<!---Featured Artists Music--->
<div class="ms_featured_slider padder_top20">
  <div class="ms_heading">
    <div class="col-lg-2">
      <div class="ms_rcnt_box marger_bottom25">
        <div class="create_playlist">

          <i class="ms_icon icon_playlist"><a routerLink="/artist/create"></a></i>
        </div>
        <div class="ms_rcnt_box_text">
          <h3><a routerLink="/artist/create">Create New Artist</a></h3>
        </div>
      </div>
    </div>
    <h1>Artists</h1>
    <span class="veiw_all"><a routerLink="#">view more</a></span>
  </div>
  <div class="ms_relative_inner">
    <div class="album_list_wrapper">
      <ul class="album_list_name">
        <li class="text-center">#</li>
        <li class="text-center">Artist</li>
        <li class="text-center">Band</li>
        <li class="text-center">Gende</li>
        <li class="text-center">Story</li>
      </ul>
      <ul *ngFor="let artist of allArtists; index as i">

      <li class="text-center"><a><span >{{i+1}}</span><span  ></span></a></li>
      <li class="text-center"><a routerLink="/artist/detail/{{artist.id}}">{{artist.name}}</a></li>
        <li class="text-center"><a>{{artist.band}}</a></li>
        <li *ngIf="artist.gender == true" class="text-center"><a>Men</a></li>
        <li *ngIf="artist.gender == false" class="text-center"><a>Women</a></li>
        <li ><a>{{artist.story}}</a></li>
      </ul>

      <div class="swiper-wrapper">
        <div class="swiper-slide" >
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

