<!---Featured Artists Music--->
<div class="ms_featured_slider padder_top20">
  <div class="ms_heading">
    <h1>Artists</h1>
    <span class="veiw_all"><a routerLink="#">view more</a></span>
  </div>
  <div class="ms_relative_inner">
    <div class="ms_feature_slider swiper-container" *ngFor="let artist of allArtists; index as i">
      <li class="text-center"><a><span class="play_no">{{i+1}}</span><span class="play_hover" ></span></a></li>
      <li class="text-center"><a routerLink="/artist/detail/{{artist.id}}">{{artist.name}}</a></li>
      <div class="swiper-wrapper">
        <div class="swiper-slide" >
          <div class="ms_rcnt_box">
            <div class="ms_rcnt_box_img">
              <div class="ms_main_overlay">
                <div class="ms_box_overlay"></div>
                <div class="ms_more_icon">
                </div>
                <ul class="more_option">
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                  <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
                <div class="ms_play_icon">
                </div>
              </div>
            </div>
            <div class="ms_rcnt_box_text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

