<table>
  <tr>
    <td><p style="color: #14182a">oooooooooooooooooooooooooooooooooooooooooo</p></td>
    <td><div style="display: grid; place-items: center;">
      <div class="blog_comments">
<!--        <h1>comments</h1>-->
        <ol>
          <li>
            <div class="ms_comment_section">
              <div>
<!--              <div class="comment_info">-->
                <div class="comment_head">
                  <h1 style="display: grid; place-items: center;">Are you sure</h1><br>
                </div>
                <p>Please be noted that your playlist will be removed from your library</p><br>
                <div class="pro-form-btn text-center marger_top15">
                  <div class="ms_upload_btn">
                    <button href="#" class="ms_btn" style="width: 120px" (click)="deletePlaylist(playlist.id)">Delete</button>
                    <button routerLink="/playlist/detail/{{playlist.id}}" class="ms_btn" style="width: 120px">Cancel</button>
                    <!--              <a href="#" class="ms_btn">Cancel</a>-->
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div></td>
    <td><p style="color: #14182a">oooooooooooooooooooooooooooooooooooooooooo</p></td>
  </tr>
</table>

