<!---Header--->
<div class="ms_header">
  <div class="ms_top_left">
    <div class="ms_top_search">
      <input type="text" class="form-control" placeholder="Search Music Here..">
      <span class="search_icon">
							<img src="assets/images/svg/search.svg" alt="">
						</span>
    </div>
    <div class="ms_top_trend">
      <span><a href="#" class="ms_color">Trending Songs :</a></span> <span class="top_marquee"><a href="#">Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley (+8 More)</a></span>
    </div>
  </div>
  <div class="ms_top_right">
<!--    <div class="ms_top_lang">-->
<!--      <span data-toggle="modal" data-target="#lang_modal">languages <img src="assets/images/svg/lang.svg" alt=""></span>-->
<!--    </div>-->
    <div class="ms_top_btn" *ngIf="!currentUser">
      <a href="javascript:;" class="ms_btn reg_btn"  routerLink="/auth/register"><span>register</span></a>
      <a href="javascript:;" class="ms_btn login_btn"  routerLink="/auth/login"><span>login</span></a>
    </div>
    <div class="ms_top_btn" *ngIf="currentUser">
      <a routerLink="/song/create" class="ms_btn">upload</a>
      <a href="javascript:;" class="ms_admin_name">{{currentUser.username}} <span class="ms_pro_name">

      KH

      </span>
      </a>
      <ul class="pro_dropdown_menu">
        <li><a routerLink="/user/update/{{currentUser.id}}">Profile</a></li>
        <li><a href="manage_acc.html" target="_blank">Pricing Plan</a></li>
        <li><a href="blog.html" target="_blank">Blog</a></li>
        <li><a href="">Setting</a></li>
        <li><a  (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

